<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>∮I saw the one thing that I want，Hell bent, get outta bed……</string>
	<string>一串急促的铃声响起</string>
	<string>⎡看来又有什么案子了⎦</string>
	<string>25分钟后……江南城</string>
	<string>➥头，这栋101室的邻居因为臭味难忍寻上门，结果透过窗户发现一具尸体</string>
	<string>⎡死者身份确定了吗？⎦</string>
	<string>➥确认了，死者名叫段素芳，今年52岁</string>
	<string>➥生前患有风湿性心脏病</string>
	<string>➥父母在其幼时因其父亲出轨离异，后一直跟着妈妈直至30岁成家</string>
	<string>➥还有一个22岁的儿子，在本市的曲靖大学上学</string>
	<string>➥她儿子出生后三年发现她老公出轨随后也离婚了</string>
	<string>死因确认了了吗？2&amp;0联系家属了吗？</string>
	<string>➥其父亲暂时联系不上,母亲在上个礼拜去世</string>
	<string>➥死者儿子目前在桂林旅游，正赶回</string>
	<string>➥法医初步判断应该是死于心脏病突发</string>
	<string>➥推测死亡时间在三日前</string>
	<string>➥还得进一步尸检才能确定</string>
	<string>➥看似不是他杀，不过……</string>
	<string>➥周围有一点很奇怪</string>
	<string>➥她家一扇窗户被砸碎了</string>
	<string>➥地上还有塑料袋包着碎石</string>
	<string>将塑料袋拿去检验一下8&amp;0去查下附近监控</string>
	<string>➥已经查过监控了，塑料袋也拿去检验了</string>
	<string>➥从附近监控来看，三日前也就是8月17日中元节那天18：38死者从外回家</string>
	<string>➥之后就再也未见到死者出来， 23：45分有个小男孩出现在死者家附近</string>
	<string>➥并且将什么东西砸向了死者家中</string>
	<string>⎡立马去找到这个小男孩⎦</string>
	<string>⎡这很可能是一起谋杀⎦</string>
	<string>当天下午塑料袋检验结果出来</string>
	<string>塑料袋上采集到的指纹通过大量的排查与10公里外一个拾荒小孩一直</string>
	<string>据小孩描述，八九天前，有个戴口罩的黑衣男子过来找到他</string>
	<string>以100元为报偿让其在8月17日当晚去石桥东的垃圾桶下取一个U盘送到死者家中</string>
	<string>可惜拾荒小孩与黑衣男子的交接处很偏远，并无监控</string>
	<string>其他有价值的线索就只是小男孩说黑衣男子再和他交谈中一直在转大拇指上的一个八角戒指</string>
	<string>一天后……——8月22日</string>
	<string>通过对死者人际关系的排查</string>
	<string>发现死者同事蔡康很可疑</string>
	<string>蔡康在死者去世当天与死者大吵一架</string>
	<string>并且通过语言对其进行了一系列的人生攻击</string>
	<string>并且死者最后一通电话是蔡康打来的</string>
	<string>通话时间是23：58</string>
	<string>审讯室……开始了对蔡康的审讯</string>
	<string>为何与死者吵架？3&amp;0听说你那天和段素芳吵架了？</string>
	<string>➥是呀，你不会觉得是我杀的吧</string>
	<string>➥听说她是心脏病突发猝死的</string>
	<string>➥我可没那个本事让她突发心脏病</string>
	<string>➥吵架是因为长期积攒下来的愤恨吧</string>
	<string>➥不仅是我,周围的其他同事也是积怨已久</string>
	<string>还有谁?0&amp;2那看来段素芳很惹人恨啊</string>
	<string>➥还有方自成,陆荀等啊,他们都和死者有矛盾,</string>
	<string>➥对了，还有百里戚，吵架那天以及前两天百里戚和我抱怨了很多他和死者之间的小矛盾</string>
	<string>➥所以加上历史积累的</string>
	<string>➥在那天一起爆发了出来</string>
	<string>死者去世那天晚上你在哪1&amp;0听说你有个女朋友</string>
	<string>➥女朋友还是学生，在本市曲靖大学</string>
	<string>➥那天本来想去找女朋友的</string>
	<string>➥但因为和段素芳吵架的原因</string>
	<string>➥当天百里戚约了我一起在石桥东附近的铺子喝酒</string>
	<string>➥说要安慰安慰我</string>
	<string>百里戚和你说了什么？0&amp;8你们几点结束的？</string>
	<string>➥说了不少安慰我的话呗，不过话说回来那天百里戚挺奇怪的</string>
	<string>➥一直在和我说段素芳生活的不容易，最后还让我打个电话给段素芳赔礼道歉</string>
	<string>➥听他说得也挺有道理，作为男人嘛，就打了个电话过去</string>
	<string>➥当时响了很久她接了电话但没说话，就挂了电话继续喝酒</string>
	<string>➥我和百里戚喝到天亮了吧，铺子老板可以证明</string>
	<string>8月23日，死者儿子从桂林赶回，从之前调查的情况来看</string>
	<string>死者儿子原名程子康，后改名随母姓为段孝帏</string>
	<string>今年22岁，在曲靖大学读大四</string>
	<string>在其梳理好情绪后……</string>
	<string>⎡我们怀疑你母亲的离世并非简单的心脏病发猝死⎦</string>
	<string>⎡所以请你配合我们，将你所知道的都告诉我们⎦</string>
	<string>最近你的母亲有什么异常吗？0&amp;9说说你的母亲吧</string>
	<string>➥我妈妈前段时间还好好的，并没有什么异常的行为</string>
	<string>就在此时，放在另一张桌上死者的手机突然响起，一首许志安的《为什么你背着我爱别人》</string>
	<string>我侧了侧头，发现是10086打来的</string>
	<string>➥这……是我妈妈的手机，怎么会是这个铃声</string>
	<string>➥我8月17日早上还听见我妈的铃声还不是这首歌，我妈很厌恶听到这类歌曲</string>
	<string>我突然意识到了什么，于是叫来胖子去查查9月17日在单位有谁接触过死者的手机</string>
	<string>思绪拉回到现在，回头看到段孝帏愣住了</string>
	<string>⎡我们继续说说你的母亲吧⎦</string>
	<string>➥我从小和我妈妈相依为命</string>
	<string>➥因为我父亲的原因</string>
	<string>➥我妈妈对其他人都极度的不信任</string>
	<string>➥甚至是我，她禁止我和其他女生接触，恋爱更是明令禁止</string>
	<string>你妈知道你有女朋友吗？0&amp;8听说你是和你女朋友一起去桂林的</string>
	<string>➥我妈并不知道我有女朋友，我也不敢告诉她</string>
	<string>➥我妈如果知道我有了女朋友会觉得我背叛了她</string>
	<string>➥虽然我知道这些都是因为我爸的缘故</string>
	<string>➥但不能将这些都施加到我身上啊！！！</string>
	<string>➥这次去桂林我是瞒着我妈和我女朋友去的</string>
	<string>➥说来还挺幸运，我挺喜欢转发微博那种转发@朋友抽奖的</string>
	<string>➥这次我转发了一个微博名叫刺史雨发起的抽奖</string>
	<string>➥结果我居然中了，中了桂林情侣双人7日游</string>
	<string>➥我瞒着我妈妈，带着我女朋友去了桂林</string>
	<string>➥可没想到我这一去竟然我妈妈就……</string>
	<string>⎡你早点回去休息吧，我们会把这件事调查清楚的⎦</string>
	<string>⎡胖子，你们那边还有什么其他进展吗⎦</string>
	<string>➥有一个，通过监控发现8月17日在单位死者同事百里戚接触过死者的手机</string>
	<string>➥不过我们通过询问其身边的人</string>
	<string>➥都说百里戚人特别好，无论是待朋友待家人都是如此</string>
	<string>➥即使是大家都知道其对死者有很大意见，但平常看他和死者之间也相处很融洽</string>
	<string>➥并没有发现什么可疑之处</string>
	<string>通过调查百里戚大学是心理专业，并非金融专业</string>
	<string>审讯室……开始了百里戚的审讯</string>
	<string>听说你学的心理学？3&amp;0你为什么选择银行？</string>
	<string>➥银行啊……其实大学我是学心理学的</string>
	<string>此时胖子突然发来短信说</string>
	<string>在死者家中找到个U盘,其中都是死者儿子与其女朋友交往的场景，还有张图片是她俩机票订单信息</string>
	<string>➥特别喜欢心理学，可是后来因为家庭，最终选择了银行</string>
	<string>➥对于段素芳的离世，我也感到很惋惜，虽然我并不是很喜欢与她相处</string>
	<string>➥可毕竟每个人的生活都不易，我童年经历也不美好</string>
	<string>➥多少也能理解她的痛楚，所以平常和她还是很和睦的</string>
	<string>➥她最后一天上班还找我帮忙来着，她让我帮她注册个淘宝</string>
	<string>➥我就用她的手机注册了一个，据说是准备给她儿子买台电脑，想要给她儿子一个惊喜</string>
	<string>此时我注意到他一直在摸他的大拇指关节处</string>
	<string>➥上个礼拜她的情绪一直很低落，可能是因为她母亲去世的缘故</string>
	<string>➥所以我也一直劝说她休公休假，在家好好休息休息</string>
	<string>➥谁成想，她回到家中居然……或许让她通过工作来麻醉自己更好吧</string>
	<string>居然将我想问的都说了</string>
	<string>⎡今天就暂时到这吧，你先回去吧，如果有事我们会再找你的⎦</string>
	<string>坐在椅子上，整理着线索</string>
	<string>突然我明白了这次事件的原委</string>
	<string>第一章结束</string>
	<string>下一章&amp;结案</string>
</array>
</plist>
